<footer class="bg-white w-full border-t border-black">
  <div
    class="h-auto md:px-[120px] p-12 md:py-[84px] flex flex-col md:flex-row md:justify-evenly sm:gap-12"
  >
    <div class="flex justify-center not-visible-on-mobile">
      <svg width="82px" height="82px">
        <use href="./image/symbol-defs.svg#icon-Logomark"></use>
      </svg>
    </div>
    <div>
      <ul>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >FAQ</a
          >
        </li>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >RETURNS</a
          >
        </li>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >TERMS & CONDITIONS</a
          >
        </li>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >PRIVACY POLICY</a
          >
        </li>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >COOKIE POLICY</a
          >
        </li>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >COOKIE SETTINGS</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >ABOUT SECOND CHANCE</a
          >
        </li>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >CAREER</a
          >
        </li>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >FACEBOOK</a
          >
        </li>
        <li>
          <a href="" class="text-black text-sm font-bold font-['Space Mono']"
            >INSTAGRAM</a
          >
        </li>
      </ul>
    </div>
    <div class="flex justify-center visible-on-mobile">
      <svg width="82px" height="82px">
        <use href="./image/symbol-defs.svg#icon-Logomark"></use>
      </svg>
    </div>
  </div>
</footer>
