<header
  class="container mx-auto bg-mainBgColor py-12 pl-16 p-32 border-b border-black mb-14"
>
  <div class="flex justify-between items-start">
    <svg width="250px" height="98px">
      <use href="./image/symbol-defs.svg#icon-logo"></use>
    </svg>
    <div class="space-x-12 flex justify-center">
      <button>
        <svg width="24px" height="24px" class="cart-icon">
          <use href="./image/symbol-defs.svg#icon-shopping-cart"></use>
        </svg>
      </button>
      <button
        class="bg-black w-[101px] h-[38px] text-white rounded text-xl font-bold text-center text-white text-xl font-bold"
      >
        Sign-up
      </button>
    </div>
  </div>
</header>
