<div class="container px-28 pt-12">
  <div
    class="bg-black min-w-max p-6 rounded text-white flex items-center justify-between mb-12"
  >
    <div class="flex gap-1.5 items-end">
      <svg width="24px" height="24px">
        <use href="./image/symbol-defs.svg#icon-alert-circle"></use>
      </svg>
      <p>Aplpha</p>
      <p class="ml-10 text-yellow-50 text-sm font-medium">
        Important info regarding our service
      </p>
    </div>
    <button>
      <svg width="24px" height="24px">
        <use href="./image/symbol-defs.svg#icon-chevron-down"></use>
      </svg>
    </button>
  </div>

  <div class="mb-[70px]">
    <ul class="flex flex-wrap gap-6 justify-center">
      <li class="w-[300px] h-[402px]">
        <div class="relative mb-3">
          <img
            src="https://cdn.shopify.com/s/files/1/0690/0075/7529/products/5196c9302b12ec8d50d0e700e2865c2a.png?v=1694603298"
            alt=""
          />
          <button
            class="text-mainBgColor p-2 bg-black rounded h-[26px] w-[48px] flex justify-center items-center text-xs absolute left-3 top-3"
          >
            USED
          </button>
        </div>
        <div class="flex justify-between mb-3">
          <div>
            <p class="font-bold text-sm">Name</p>
            <p class="font-bold text-sm">000Kr</p>
          </div>
          <div>
            <p class="font-bold text-sm">condition</p>
            <p class="text-sm font-normal">rating</p>
          </div>
        </div>
        <button class="bg-black text-white min-w-full h-[42px] rounded">
          ADD TO CART
        </button>
      </li>
      <li class="w-[300px] h-[402px]">
        <div class="relative mb-3">
          <img
            src="https://cdn.shopify.com/s/files/1/0690/0075/7529/products/5196c9302b12ec8d50d0e700e2865c2a.png?v=1694603298"
            alt=""
          />
          <button
            class="text-mainBgColor p-2 bg-black rounded h-[26px] w-[48px] flex justify-center items-center text-xs absolute left-3 top-3"
          >
            USED
          </button>
        </div>
        <div class="flex justify-between mb-3">
          <div>
            <p class="font-bold text-sm">Name</p>
            <p class="font-bold text-sm">000Kr</p>
          </div>
          <div>
            <p class="font-bold text-sm">condition</p>
            <p class="text-sm font-normal">rating</p>
          </div>
        </div>
        <button class="bg-black text-white min-w-full h-[42px] rounded">
          ADD TO CART
        </button>
      </li>
      <li class="w-[300px] h-[402px]">
        <div class="relative mb-3">
          <img
            src="https://cdn.shopify.com/s/files/1/0690/0075/7529/products/5196c9302b12ec8d50d0e700e2865c2a.png?v=1694603298"
            alt=""
          />
          <button
            class="text-mainBgColor p-2 bg-black rounded h-[26px] w-[48px] flex justify-center items-center text-xs absolute left-3 top-3"
          >
            USED
          </button>
        </div>
        <div class="flex justify-between mb-3">
          <div>
            <p class="font-bold text-sm">Name</p>
            <p class="font-bold text-sm">000Kr</p>
          </div>
          <div>
            <p class="font-bold text-sm">condition</p>
            <p class="text-sm font-normal">rating</p>
          </div>
        </div>
        <button class="bg-black text-white min-w-full h-[42px] rounded">
          ADD TO CART
        </button>
      </li>
      <li class="w-[300px] h-[402px]">
        <div class="relative mb-3">
          <img
            src="https://cdn.shopify.com/s/files/1/0690/0075/7529/products/5196c9302b12ec8d50d0e700e2865c2a.png?v=1694603298"
            alt=""
          />
          <button
            class="text-mainBgColor p-2 bg-black rounded h-[26px] w-[48px] flex justify-center items-center text-xs absolute left-3 top-3"
          >
            USED
          </button>
        </div>
        <div class="flex justify-between mb-3">
          <div>
            <p class="font-bold text-sm">Name</p>
            <p class="font-bold text-sm">000Kr</p>
          </div>
          <div>
            <p class="font-bold text-sm">condition</p>
            <p class="text-sm font-normal">rating</p>
          </div>
        </div>
        <button class="bg-black text-white min-w-full h-[42px] rounded">
          ADD TO CART
        </button>
      </li>
      <li class="w-[300px] h-[402px]">
        <div class="relative mb-3">
          <img
            src="https://cdn.shopify.com/s/files/1/0690/0075/7529/products/5196c9302b12ec8d50d0e700e2865c2a.png?v=1694603298"
            alt=""
          />
          <button
            class="text-mainBgColor p-2 bg-black rounded h-[26px] w-[48px] flex justify-center items-center text-xs absolute left-3 top-3"
          >
            USED
          </button>
        </div>
        <div class="flex justify-between mb-3">
          <div>
            <p class="font-bold text-sm">Name</p>
            <p class="font-bold text-sm">000Kr</p>
          </div>
          <div>
            <p class="font-bold text-sm">condition</p>
            <p class="text-sm font-normal">rating</p>
          </div>
        </div>
        <button class="bg-black text-white min-w-full h-[42px] rounded">
          ADD TO CART
        </button>
      </li>
      <li class="w-[300px] h-[402px]">
        <div class="relative mb-3">
          <img
            src="https://cdn.shopify.com/s/files/1/0690/0075/7529/products/5196c9302b12ec8d50d0e700e2865c2a.png?v=1694603298"
            alt=""
          />
          <button
            class="text-mainBgColor p-2 bg-black rounded h-[26px] w-[48px] flex justify-center items-center text-xs absolute left-3 top-3"
          >
            USED
          </button>
        </div>
        <div class="flex justify-between mb-3">
          <div>
            <p class="font-bold text-sm">Name</p>
            <p class="font-bold text-sm">000Kr</p>
          </div>
          <div>
            <p class="font-bold text-sm">condition</p>
            <p class="text-sm font-normal">rating</p>
          </div>
        </div>
        <button class="bg-black text-white min-w-full h-[42px] rounded">
          ADD TO CART
        </button>
      </li>
      <li class="w-[300px] h-[402px]">
        <div class="relative mb-3">
          <img
            src="https://cdn.shopify.com/s/files/1/0690/0075/7529/products/5196c9302b12ec8d50d0e700e2865c2a.png?v=1694603298"
            alt=""
          />
          <button
            class="text-mainBgColor p-2 bg-black rounded h-[26px] w-[48px] flex justify-center items-center text-xs absolute left-3 top-3"
          >
            USED
          </button>
        </div>
        <div class="flex justify-between mb-3">
          <div>
            <p class="font-bold text-sm">Name</p>
            <p class="font-bold text-sm">000Kr</p>
          </div>
          <div>
            <p class="font-bold text-sm">condition</p>
            <p class="text-sm font-normal">rating</p>
          </div>
        </div>
        <button class="bg-black text-white min-w-full h-[42px] rounded">
          ADD TO CART
        </button>
      </li>
      <li class="w-[300px] h-[402px]">
        <div class="relative mb-3 border">
          <img
            src="https://cdn.shopify.com/s/files/1/0690/0075/7529/products/5196c9302b12ec8d50d0e700e2865c2a.png?v=1694603298"
            alt=""
          />
          <button
            class="text-mainBgColor p-2 bg-black rounded h-[26px] w-[48px] flex justify-center items-center text-xs absolute left-3 top-3"
          >
            USED
          </button>
        </div>
        <div class="flex justify-between mb-3">
          <div>
            <p class="font-bold text-sm">Name</p>
            <p class="font-bold text-sm">000Kr</p>
          </div>
          <div>
            <p class="font-bold text-sm">condition</p>
            <p class="text-sm font-normal">rating</p>
          </div>
        </div>
        <button class="bg-black text-white min-w-full h-[42px] rounded">
          ADD TO CART
        </button>
      </li>
    </ul>
  </div>

  <div class="flex justify-center mb-24 pb-24">1 2 3 4 5 6 7 8 9</div>
</div>
<!-- <div
    class="max-w-full h-16 p-6 bg-black rounded flex-col justify-start items-start gap-2.5 inline-flex"
  ></div> -->
