@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: Space Grotesk, system-ui, sans-serif;
  }
}
/* Скрыть вертикальную полосу прокрутки */
::-webkit-scrollbar {
  width: 0.5em; /* Установите ширину полосы прокрутки на 0.5em (или другое значение) */
}

/* Скрыть полосу прокрутки при наведении */
::-webkit-scrollbar:hover {
  width: 0.5em; /* Установите ту же ширину полосы прокрутки */
}

/* Скрыть ползунок полосы прокрутки */
::-webkit-scrollbar-thumb {
  background-color: #3a3a3a; /* Задайте цвет ползунка как прозрачный */
}

/* Скрыть ползунок полосы прокрутки при наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* Задайте тот же цвет ползунка как прозрачный */
}

.active {
  background-color: rgb(0 0 0);

  color: rgb(255 255 255);
}
.visible-on-mobile {
  display: block;
}

@media (min-width: 768px) {
  .visible-on-mobile {
    display: none;
  }
}
.not-visible-on-mobile {
  display: none;
}

@media (min-width: 768px) {
  .not-visible-on-mobile {
    display: block;
  }
}

header::after {
  content: ''; /* Добавляем контент псевдоэлементу */
  position: absolute; /* Позиционируем псевдоэлемент относительно родительского элемента */
  bottom: 0; /* Располагаем псевдоэлемент снизу */
  left: 0; /* Располагаем псевдоэлемент слева (или в другом нужном месте) */
  width: 100%; /* Задаем ширину псевдоэлемента, чтобы он растянулся по всей ширине родительского элемента */
  border-bottom: 1px solid #000;
}
